<legend>
  <div class='wrapper'>
    <div class='game_title_div'><%= @game.title %></div>
    <div class='game_categories_div'>
      <% @game.categories.each do |category| %>
          <%= category.name %>
      <% end %>
    </div>
    <div class='game_user_div'><%= link_to @game.user.username, users_path(@game.user) %></div>
  </div>
</legend>

<div class="average_star_rating">
  <%= render :partial => 'game_ratings/star_rating', :locals => {:game => @game, :div_id => "average-rating"} %>
</div>

<fieldset>

  <div class="container-fluid">

    <div class="row-fluid">
      <div class="span8">
        <span><%= simple_format @game.description %></span>
      </div>

      <div class="span4">
        <% @game.images.each_with_index do |image, index| %>
            <p>
              <%= image_tag image.image.url %>
              <%= "Image-#{index+1}" %>
            </p>
        <% end %>
      </div>
    </div>
  </div>
</fieldset>

<legend></legend>

<div class="container-fluid">
  <div class="row-fluid">



    <div class="span8">
      <div class="star_rating">
        <%= render :partial => 'game_ratings/star_rating', :locals => {:game => @game, :div_id => 'star-rating'} %>
      </div>
      <%= render :partial => 'comments/form' %>

      <div id='comments_to_game_div'>
        <% @game.comments.order("created_at DESC").each do |comment| %>
            <%= render :partial => 'comments/comment_details', :locals => {:comment => comment} %>
        <% end %>
      </div>
    </div>

  </div>
</div>