<legend>
  <div class='wrapper'>
    <div class='game_title_div'><%= @game.title %></div>
    <div class='game_categories_div'>
      <% @game.categories.each do |category| %>
      <%= category.name %>
      <% end %>
    </div>
    <div class='game_user_div'><%= link_to @game.user.username, users_path(@game.user) %></div>
  </div>
</legend>

<fieldset>

  <div class="container-fluid">

    <div class="row-fluid">
      <div class="span8">
        <span><%= simple_format @game.description %></span>
      </div>

      <div class="span4">
        Photos here
      </div>
    </div>
  </div>
</fieldset>

<legend></legend>


<div class="container-fluid">
  <div class="row-fluid">

    <div class="span8">
      <%= render :partial => 'comments/form' %>

      <div id='comments_to_game_div'>
        <% @game.comments.order("created_at DESC").each do |comment| %>
            <%= render :partial => 'comments/comment_details', :locals => {:comment => comment} %>
        <% end %>
      </div>
    </div>

  </div>
</div>
